<div class="home">
  <!-- 最上面的navbar -->
  <div class="text-center" style=" background-color: #444444">
    <div style="  position: absolute; width: 50px; height: 50px ;top:15px">
      <a href="javascript:;" @click="leftMenuShow = true">
        <i class="fas fa-bars text-white" style="font-size :1.6rem"></i>
      </a>
    </div>
    <div class="py-3">
      <el-image
        class="ml-5 mt-1"
        style="width: 160px; height: 20px"
        src="https://lh5.googleusercontent.com/SakwNbrfFXP0q3VLntnAHO537yMBojtPD1ksuV8Vq4xHfpsnlzKlMIqO6j8BrI0wW04DkFUs0bLEsKlRzK9L1UOcLqB2OJyAt4yS2FVuN7dHtebC0feVBJNd9tZE=w297"
      >
      </el-image>
    </div>
  </div>
  <!-- 側邊menubar -->
  <el-drawer
    @open="openLeftMenu()"
    size="70%"
    :visible.sync="leftMenuShow"
    direction="ltr"
    ref="leftMenu"
  >
    <div slot="title">
      <el-image
        class="mt-1"
        style="width: 160px; height: 50px"
        src="https://lh4.googleusercontent.com/11Hu5dYcyYsEoZXSCPvvvuQJMDys6j3q8gps-QYbsMSq6VdrdmOZ9bFNTBIEhfP0J2nzpw94T7nOilTnxbql2mFV4rX5vF-MsgYUGK5HQk3hyufPE4pHIvMKu45Q=w681"
      >
      </el-image>
    </div>
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo h-100 "
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
      style="width:120vw"
    >
      <el-submenu index="1">
        <template slot="title">
          <i class="el-icon-location"></i>
          <span>导航一</span>
        </template>
        <el-menu-item-group>
          <template slot="title"
            >分组一</template
          >
          <el-menu-item index="1-1">选项1</el-menu-item>
          <el-menu-item index="1-2">选项2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="分组2">
          <el-menu-item index="1-3">选项3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="1-4">
          <template slot="title"
            >选项4</template
          >
          <el-menu-item index="1-4-1">选项1</el-menu-item>
        </el-submenu>
      </el-submenu>
      <el-menu-item index="2">
        <i class="el-icon-menu"></i>
        <span slot="title">导航二</span>
      </el-menu-item>
    </el-menu>
  </el-drawer>
  <!--運作狀況 -->
  <div class="text-center py-2" style=" background-color: #67C23A;">
    <i style="font-size: 1.3rem" class="el-icon-circle-check text-white"></i>
    <span class="text-white"> 全線運作正常</span>
  </div>
  <!--輪播圖片 -->
  <el-carousel :height="topInfoPicHeight+'px'">
    <el-carousel-item v-for="item in topInfoPics" :key="item.pic">
      <el-image :src="item.pic"> </el-image>
    </el-carousel-item>
  </el-carousel>
  <!-- 主界面按鈕 -->
  <div>
    <el-row style="background-color: #cfd1d2ad">
      <el-col :offset="8" :span="8" class="text-center">
        <buttonmain
          size="1.2rem"
          name="我要訂票"
          pic="https://lh3.googleusercontent.com/nbEaXRVolam6hoYLKRdW8HIV_x9VE0rI9J-Es3TSy8pX3SwXoXuKa_sqfXAcF5lWkYh-yhYNfTS7wlKn-HGMjIt3vaJzlPkQHZPgUViZ4IFBmHQ7-RxiCn_Ot87b=w81"
        ></buttonmain>
      </el-col>
    </el-row>
    <el-row class="border border-white" style="background-color: #cfd1d2ad">
      <el-col :span="7" :offset="1">
        <buttonmain
          style="padding-top:6px"
          ph="30px;width: 20px;padding-top:10px"
          name="時刻車次"
          pic="https://lh5.googleusercontent.com/suG1DeE1nH9oY_LPu2xoTkMY7YfHeoJTOHwQMbjuYvw5pVzDKlvHLA8oMczK8tzrs1NttAUAvNX-iKArMEQNq3t1iC53gdkSCGk7GSgYzF0vStDyvYHxWRAxKTPl=w41"
        ></buttonmain>
      </el-col>
      <el-col :span="8">
        <buttonmain
          style="padding-top:6px;padding-bottom:18px"
          class="border-right border-left border-white pl-3"
          ph="15px;width: 35px;padding-right:8px;margin-top:12px"
          name="會員專區"
          pic="https://lh3.googleusercontent.com/U1D4sl5M54l5PTfL-alAp7U24eDX2oNubEKgawlZ193wfNuap6KccuzlJBjz0XEBWWFDcb2lSJVVs5EF_qN3PvF09GWIFJ70H95AsVatkoY4aY8umvkkFFjtVRK1=w69"
        ></buttonmain>
      </el-col>
      <el-col :span="7" :offset="1">
        <buttonmain
          style="padding-top:6px"
          ph="45px"
          name="我的車票"
          pic="https://lh4.googleusercontent.com/JHIbSb7Ouiy3V2vr2Z7hh5DbbbMFHorKOv1KS5y2fAg6ZNLiqqaqj0ViSuLndA0UAaCG3vqboztLLHrcC9Jv7HduwM-IPSm0PeH9l6HNN46qRlt8690d04TLSvJa=w87"
        ></buttonmain>
      </el-col>
    </el-row>
    <el-row class="border border-white" style="background-color: #cfd1d2ad; ">
      <el-col :span="7" :offset="1">
        <buttonmain
          style="padding-bottom:12px;padding-top:9px"
          ph="30px;width: 20px;padding-top:10px"
          name="車站資訊"
          pic="https://lh5.googleusercontent.com/Yde76FnpfrIzC3GwSgoLhzEhLSSAsp8Hbz81YWAd6mETwDmW1G5ww4EABJqygmNm5sz7yfdJsLXe3xaPV4kWwbtx9RFP0zBolQDrOOF0mRdTJQIeJi3Jqysj10Oy=w45"
        ></buttonmain>
      </el-col>
      <el-col :span="8">
        <buttonmain
          style="padding-bottom:12px;padding-top:9px"
          class="border-right border-left border-white pl-3"
          ph="30px;width: 20px;padding-top:10px"
          name="便利轉乘"
          pic="https://lh3.googleusercontent.com/S5KpJyf1WQWDSufKW7swssjldr2dzQnahKNKBEPq4tJiylwb8wQqJOjZYKqaU7aWVH4hO6TjLuuF8CzyB6g1ErFJ1ncXnuofUGQkGve2UpqjCwCFPKxb0r9tgwr8=w41"
        ></buttonmain>
      </el-col>
      <el-col :span="7" :offset="1">
        <buttonmain
          style="padding-bottom:12px;padding-top:9px"
          ph="30px;width: 20px;padding-top:10px;margin-right:5px"
          name="精選推薦"
          pic="https://lh5.googleusercontent.com/0gtRaOELpTRKy9S_dmXoI54aJt_qfH2GhJ5xUYatLR0gdFUdxoCa4YDpYb0cUllSl5VtAY2jLGRj0uXG-xlZuISuvl9OENciGZShO5iiFpj7YI8NzakGQ3pIZ76J=w52"
        ></buttonmain>
      </el-col>
    </el-row>
  </div>
  <!-- 最新消息  -->
  <p></p>

  <el-image
    class=""
    style="width: 168px; "
    src="https://lh4.googleusercontent.com/9ZlPcPxrrcy2xvW2-WPMDe1HcFF6-KU-GM-pUrP7T2yYdKYhPmQCT_fwy04tHjUWX0jHds2nJMCM54fioUfkJ-rd8Lh74ZM54-AwGVJsjsP_M4rx6iNyrBBpStzs=w265"
  >
  </el-image>
  <el-table :data="tableData" style="width: 100%">
    <el-table-column prop="date" label="日期" width="100"> </el-table-column>
    <el-table-column prop="note" label="內容"> </el-table-column>
  </el-table>
</div>
